* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#container {
  max-width: 1520px;
  width: 100%;
  margin: auto;
}

#navbar {
  width: 100%;
}

body {
  width: 100%;
}

.top {
  display: flex;
  height: 60px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #222222;
}

.top-text {
  color: #b3b3b3;
  text-decoration: underline;
  font-family: "airbnb-light";
  font-size: 15px;
}

.top-text:hover {
  color: #898989;
  cursor: pointer;
}

.background {
  height: 560px;
  background-image: url("../images/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
}

.menu-container {
  display: flex;
  flex-direction: center;
  align-items: center;
  height: 80px;
}

.menu-flex {
  flex: 1;
}

.logo {
  margin-left: 80px;
}

.menus {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.item-menu {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
}

.right-menu-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu-button {
  background-color: transparent;
  color: #222222;
  font-family: "airbnb-light";
  padding: 12px 15px;
  border: 0;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 600;
}

.menu-button:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.menu-globe {
  background-color: transparent;
  border: 0;
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.menu-globe:hover {
  cursor: pointer;
  background-color: #f7f7f7;
}

.globe {
  font-size: 20px !important;
}

.button-icons {
  background-color: #f7f7f7;
  color: grey;
  font-family: "airbnb-light";
  font-size: 14px;
  font-weight: 600;
  padding: 6px 10px;
  border: 0;
  border-radius: 25px;
  display: flex;
  align-items: center;
}

.menus .item-menu:nth-child(1) {
  font-weight: 400;
}

.button-icons:hover {
  cursor: pointer;
}

.iconMenu {
  font-size: 20px !important;
  margin-right: 5px !important;
}

.iconUser {
  font-size: 30px !important;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 65%;
  font-size: small;
  margin: 30px auto;
  padding: 6px 10px 6px 30px;
  border-radius: 50px;
  box-shadow: 1px 1px 1px 1px rgba(11, 0, 0, 0.297);
}

.search-bar form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(96, 95, 95);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-content.show {
  display: block;
  margin: -142px;
  margin-top: 35px;
}

.search-bar form input {
  display: block;
  border: 0;
  outline: none;
  background: transparent;
}

.search-bar form button {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    160deg,
    rgba(231, 32, 80, 1) 81%,
    rgba(249, 123, 148, 1) 60%,
    rgba(231, 32, 80, 1) 81%
  );
}

.where {
  flex: 1;
}



.search-bar form label {
  font-weight: 600;
}

.search-bar form :hover {
  border-radius: 50px;
  background-color: rgb(230, 227, 227);
}

#top-carousel .d-flex {
  margin-left: 20px;
  gap: 10px;
}

#top-carousel {
  display: flex;
}

#top-carousel img {
  width: 2rem;
  height: 2rem;
}

#iconss {
  margin: 5px;
  display: flex;
  overflow-x: auto;
}

#iconss::-webkit-scrollbar {
  width: 0;
}

#top-carousel p {
  font-size: 0.873rem;
  color: gray;
  font-weight: 400;
}

#top-carousel p:hover {
  font-size: 0.873rem;
  color: rgb(16, 15, 15);
  font-weight: 400;
}

#datePicker {
  position: absolute;
  display: none;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
}

#datePicker input[type="datetime-local"] {
  width: 200px;
}

/* Media queries for different screen sizes */

/* Mobile devices (320px to 480px) */


/* HIMANSHU */
#footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-top: 1px grey solid;
  border-bottom: 1px grey solid;
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: rgb(246, 247, 246);
}

#footer div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tags:hover {
  text-decoration: underline;
  cursor: pointer;
}

#footer p,
span {
  font-family: "Montserrat", sans-serif;
}

#bottom {
  display: flex;
  justify-content: space-around;
  gap: 292px;
  padding: 30px;
  background-color: rgb(246, 247, 246);
}

#bottom > div:nth-last-of-type(1) {
  display: flex;
  gap: 15px;
}

#bottom > div:nth-last-of-type(2) {
  display: flex;
  gap: 5px;
}

#bottom > div:nth-last-of-type(2) > span:nth-of-type(n + 1):hover {
  cursor: pointer;
  text-decoration: underline;
}
.c1 {
  border: 1px transparent;
  width: 300px;
  height: auto;
  position: relative;
  font-family: "Montserrat", sans-serif;
}
#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  /* position: relative;  */
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.c1 img {
  /* width: 340px !important; */
  height: 280px !important;
  border-radius: 8px;
  /* background-size: cover; */
}

#info {
  gap: 10px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
}

#info2 {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}
.favorite-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 1366px) and (min-width: 1024px) {
  /* Your styles for standard laptop screens here */
  #navbar .menu-container .menus .item-menu{
    font-size: 10px;

   }
   #navbar .menu-container .right-menu{
     font-size: 20px;
    }
    .menu-button {
      font-size: 8px;
    }
    .search-bar {
        gap: 5px;
      font-size:  8px;
    }
    .search-bar div{
      margin: 5px;
           

    }
    .search-bar button{
      display: none;
    }
    .search-bar input{
      font-size: 8px;
    }
  
 
}

@media(max-width: 1024px) and (min-width: 767px ) {

  /* Your styles for standard laptop screens here */
  #navbar .menu-container .menus .item-menu{
    font-size: 10px;

   }
   #navbar .menu-container .right-menu{
     font-size: 22px;
    }
    .menu-button {
      font-size: 0px;
    }
    .search-bar {
        gap: 5px;
      font-size:  8px;
    }
    .search-bar div{
      margin: 5px;
           

    }
    .search-bar button{
      display: none;
    }
    .search-bar input{
      font-size: 5px;
    }
  
 
}

@media (max-width: 767px) and (min-width: 320px) {
  .c1 {
    border-bottom: 1px grey;
  }
  #cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #footer {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  #bottom {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  #bottom div {
    display: flex;
    flex-direction: column;
  }
  .logo {
    width: 70px;
    margin-left: 80px;
  }
  
       #navbar .menu-container .menus .item-menu{
        font-size: 7px;

       }
       
       #navbar .menu-container .menus div{
display: none;
       }
       #navbar .menu-container .right-menu{
         font-size: 12px;
        }
        .menu-button {
          font-size: 0px;
        }
        .menu-globe{
          display: none;
        }
        .search-bar {
            gap: 5px;
          font-size:  8px;
        }
        .search-bar div{
          margin: 5px;
          display: flex;
          align-items: center; 
               

        }
        .search-bar button{
          display: none;
        }
        .search-bar input{
          font-size: 0px;
        }
  #bottom > div:nth-of-type(1) > span:nth-child(2n) {
    /* visibility:collapse; */
    display: none;
  }

 
}
@media (max-width: 320px) and (min-width:0px) {
  
   
        #navbar .menu-container .menus .item-menu{
         display: none;
 
        }
        
      
        #navbar .menu-container .right-menu{
          font-size: 10px;
         }
         .menu-button {
           font-size: 0px;
         }
         .menu-globe{
           display: none;
         }
         .search-bar {
             gap: 5px;
           font-size:  8px;
         }
         .search-bar div{
           margin: 5px;
           display: flex;
           align-items: center; 
                
 
         }
         .search-bar button{
           display: none;
         }
         .search-bar input{
           font-size: 0px;
         }
 }

/* For standard mobile screens */

/* Rameshwar Section */

#gateways{
  background-color: rgb(246, 247, 246);
  padding-bottom: 40px;
  padding-top: 10px;
  padding-left: 10px;

}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
  font-weight: bold;
}

.dropdown::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: black;
  transition: width 0.3s ease;
}

.dropdown.active::after {
  width: 100%;
}

.dropdown-content {
  display: none;
  background-color: #f9f9f9;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 5px;
}

.dropdown.active .dropdown-content {
  display: block;
  position: relative;
  margin-top: 10px;
}

.dropdown-content a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Horizontal line below title's row */
hr {
  border: none;
  border-top: 1px solid #000;
  margin: 10px 0;
}

/* List section style */
.list-section {
  margin-top: 20px; /* Gap between horizontal line and list section */
  overflow-x: auto; /* Horizontal scroll for small screens */
  white-space: nowrap; /* Prevents wrapping */
}

/* List style */
.list-section > div {
  padding-left: 20px;
  /* font-weight: ; */
  display: flex;
  gap: 20px; /* Gap between list pairs */
  flex-wrap: wrap; /* Wrap pairs into multiple rows */
}

.list-pair {
  flex: 0 0 auto; /* Prevents flex items from growing */
  width: 16.66%; /* Each pair takes up 16.66% of the container width (6 pairs in a row) */
}

.list-pair > div:first-child {
  font-weight: bold; /* First name of pair is bold */
}

.list-pair > div:last-child {
  font-size: 13px; /* Second name of pair has smaller font size */
}

/* Horizontal line below title's row */
hr {
  border: none;
  border-top: 1px solid #000;
  margin: 10px 0;
}

/* Pagination Styiling  here  */

#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 30px auto;
}

#pagination #mid-page {
  background-color: black;
  border-radius: 50%;
  width: 25px;
  color: white;
  display: flex;
  justify-content: center;
}

#pagination > #pages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* CSS */
/* Add pointer cursor to page buttons */
#mid-page,
#previous-page,
#first-page,
#last-page,
#prev-page,
#next-page,
.rest-page,
.rest-page1 {
    cursor: pointer;
}

