*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
}
#navbar{
      width: 100%;
}
body {
  width: 100%;
}

.top
{
    display: flex;
    height: 60px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    
}

.top-text
{
    color: #b3b3b3;
    text-decoration: underline;
    font-family: 'airbnb-light';
    font-size: 15px;
}

.top-text:hover
{
    color: #898989;
    cursor: pointer;
}

.background
{
    height: 560px;
    background-image: url('../images/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
}

.menu-container
{
    display: flex;
    flex-direction: center;
    align-items: center;
    height: 80px;
}

.menu-flex
{
    flex: 1
}

.logo
{
    margin-left: 80px;
}

.menus
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item-menu
{
    font-family: "airbnb-light";
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
}

.right-menu-item
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-button
{   
    background-color: transparent;
    color: #222222;
    font-family: 'airbnb-light';
    padding: 12px 15px;
    border: 0;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
}

.menu-button:hover
{
    background-color: #F7F7F7;
    cursor: pointer;
}

.menu-globe
{
    background-color: transparent;
    border: 0;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.menu-globe:hover
{
    cursor: pointer;
    background-color: #F7F7F7;
}

.globe
{
    font-size: 20px !important;
}

.button-icons
{
    background-color: #F7F7F7;
    color: grey;
    font-family: 'airbnb-light';
    font-size: 14px;
    font-weight: 600;
    padding: 6px 10px;
    border: 0;
    border-radius: 25px;    
    display: flex;
    align-items: center;
}
.menus .item-menu:nth-child(1){
  font-weight: 400;
}
.button-icons:hover
{
    cursor: pointer;
}

.iconMenu
{
    font-size: 20px !important;
    margin-right: 5px !important;
}

.iconUser
{
    font-size: 30px !important;
}
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 65%;
  font-size: small;
  margin: 30px auto;
  padding: 6px 10px 6px 30px;
  border-radius: 50px;
  box-shadow: 1px 1px 1px 1px rgba(11, 0, 0, 0.297);
}
.search-bar form{
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(96, 95, 95);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-content.show {
  display: block;
  margin: -142px;
  margin-top: 35px;
}


.search-bar form input{
  display: block;
  border: 0;  
  outline: none;
  background: transparent;
}
.search-bar form button{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: rgb(255,255,255);
background: linear-gradient(160deg, rgba(231,32,80,1) 81%, rgba(249,123,148,1) 60%, rgba(231,32,80,1) 81%);
}
 .where{
  flex: 1;

}
.search-bar :nth-child(4){
  
}

.search-bar form label{
  
  font-weight: 600;
}
.search-bar form :hover{
  border-radius: 50px;
  background-color: rgb(230, 227, 227);
}
#top-carousel .d-flex{
  margin-left: 20px;
  gap: 10px;
}
#top-carousel{
  display: flex;
}
#top-carousel img{
       width:2rem ;
       height: 2rem;
}
#iconss {
  margin:5px;
  display: flex;
  overflow-x: auto;
}
#iconss::-webkit-scrollbar{
  width: 0;
}
#top-carousel p{
          font-size: 0.873rem;
          color: gray;
          font-weight: 400;
}
#top-carousel p:hover{
  font-size: 0.873rem;
  color: rgb(16, 15, 15);
  font-weight: 400;
}
#datePicker {
  position: absolute;
  display: none;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
}

#datePicker input[type="datetime-local"] {
  width: 200px;
}
/* Media queries for different screen sizes */

/* Mobile devices (320px to 480px) */
@media (max-width: 480px) {
  #navbar{
    font-size: smaller;
    background-color: chocolate;
   }
}

/* Tablets (481px to 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  #navbar .menu-container .menus .item-menu{
   font-size: 12px;
  }
  #navbar .menu-container .right-menu{
    font-size: 12px;
   }
  
}

/* Small screens, laptops (769px to 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
   .item-menu{
  font-size: 10px;
  gap: 5px;
  }
   .menu-flex .right-menu-item #btn{
    font-size: 10px;
   }
   .menu-flex img{
    width: 3cm;
   }
}

/* Desktops, large screens (1025px and above) */
@media (min-width: 1025px) {
  #navbar .menu-container{
  gap: 2px;

   }
   #navbar .menu-container .item-menu{
  
     }

}

/* Extra large screens, TV (1201px and above) */
@media (min-width: 1201px) {
  .item-menu,
  .fs-6 {
    font-size: 1.6rem; /* Adjust the font size as needed for extra large screens */
  }
}

#dropdown{
}#footer {
  display: flex;
  justify-content: space-around;
  border-top: 1px grey solid;
  border-bottom: 1px grey solid;
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: rgb(246, 247, 246);
}
#footer div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tags:hover {
  text-decoration: underline;
  cursor: pointer;
}
#footer p,
span {
  font-family: "Montserrat", sans-serif;
}
#bottom {
  display: flex;
  justify-content: space-around;
  gap: 292px;
  padding: 30px;
  background-color: rgb(246, 247, 246);
}
#bottom > div:nth-last-of-type(1) {
  display: flex;
  gap: 15px;
}

#bottom > div:nth-last-of-type(2) {
  display: flex;
  gap: 5px;
}
#bottom > div:nth-last-of-type(2) > span:nth-of-type(n + 1):hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Rameshwar Section */
#gateways{
  height: auto;
  height: 400px;
  background-color: rgb(246, 247, 246);
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}

.dropdown-content {
  
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  /* z-index: 1; */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 5px;
}

.dropdown.active .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Thick black line below each title */
.dropdown.active span::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: black;
  margin-top: 3px;
}

/* Horizontal line below title's row */
hr {
  border: none;
  border-top: 1px solid #000;
  margin: 10px 0;
}