*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
}
#navbar{
      width: 100%;
}
body {
  width: 100%;
}
.top
{
    display: flex;
    height: 60px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    
}

.top-text
{
    color: #b3b3b3;
    text-decoration: underline;
    font-family: 'airbnb-light';
    font-size: 15px;
}

.top-text:hover
{
    color: #898989;
    cursor: pointer;
}

.background
{
    height: 560px;
    background-image: url('../images/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
}

.menu-container
{
    display: flex;
    flex-direction: center;
    align-items: center;
    height: 80px;
}

.menu-flex
{
    flex: 1
}

.logo
{
    margin-left: 80px;
}

.menus
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item-menu
{
    font-family: "airbnb-light";
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
}

.right-menu-item
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-button
{   
    background-color: transparent;
    color: #222222;
    font-family: 'airbnb-light';
    padding: 12px 15px;
    border: 0;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
}

.menu-button:hover
{
    background-color: #F7F7F7;
    cursor: pointer;
}

.menu-globe
{
    background-color: transparent;
    border: 0;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.menu-globe:hover
{
    cursor: pointer;
    background-color: #F7F7F7;
}

.globe
{
    font-size: 20px !important;
}

.button-icons
{
    background-color: #F7F7F7;
    color: grey;
    font-family: 'airbnb-light';
    font-size: 14px;
    font-weight: 600;
    padding: 6px 10px;
    border: 0;
    border-radius: 25px;    
    display: flex;
    align-items: center;
}
.menus .item-menu:nth-child(1){
  font-weight: 400;
}
.button-icons:hover
{
    cursor: pointer;
}

.iconMenu
{
    font-size: 20px !important;
    margin-right: 5px !important;
}

.iconUser
{
    font-size: 30px !important;
}
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 65%;
  font-size: small;
  margin: 30px auto;
  padding: 6px 10px 6px 30px;
  border-radius: 50px;
  box-shadow: 1px 1px 1px 1px rgba(11, 0, 0, 0.297);
}
.search-bar form{
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(96, 95, 95);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-content.show {
  display: block;
  margin: -142px;
  margin-top: 35px;
}

.search-bar form input{
  display: block;
  border: 0;  
  outline: none;
  background: transparent;
}
.search-bar form button{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: rgb(255,255,255);
background: linear-gradient(160deg, rgba(231,32,80,1) 81%, rgba(249,123,148,1) 60%, rgba(231,32,80,1) 81%);
}
 .where{
  flex: 1;

}
.search-bar :nth-child(4){
  
}

.search-bar form label{
  
  font-weight: 600;
}
.search-bar form :hover{
  border-radius: 50px;
  background-color: rgb(230, 227, 227);
}
#dropdown{
}
/* HIMANSHU */
#footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-top: 1px grey solid;
  border-bottom: 1px grey solid;
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: rgb(246, 247, 246);
}
#footer div {
  display: flex;
  flex-direction: column;
  gap:20px;
}
.tags:hover {
  text-decoration: underline;
  cursor: pointer;
}
#footer p,span {
  font-family: "Montserrat", sans-serif;
}
#bottom {
  display: flex;
  justify-content: space-around;
  gap: 292px;
  padding: 30px;
  background-color: rgb(246, 247, 246);
}
#bottom > div:nth-last-of-type(1) {
  display: flex;
  gap: 15px;
}

#bottom > div:nth-last-of-type(2) {
  display: flex;
  gap: 5px;
}
#bottom > div:nth-last-of-type(2) > span:nth-of-type(n + 1):hover {
  cursor: pointer;
  text-decoration: underline;
}
.c1{
border: 1px transparent;
width: 300px;
height: auto;

}
#cards{
 
display: flex;
flex-wrap: wrap;
gap: 25px;

}
.c1 img{
  /* width: 340px !important; */
  height: 280px !important;
  border-radius: 8px;
  /* background-size: cover; */
}
#info {
  gap: 10px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}
#info2{
  display: flex;
  flex-direction: column;
}


@media(max-width: 1366px) and (min-width: 1024px ) {
  /* Your styles for standard laptop screens here */
 
}
@media (max-width: 767px) and (min-width:320px) {
  /* Your styles for standard mobile screens here */
  #footer{
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  #bottom{
    display: flex;
    flex-direction: column;

  }
}
/* For standard mobile screens */
